<div class="nested-fields nested_fields_emails">
  
  <div class="field form_field_wrapper">
    <%= f.label :email,  "Email:",class: "label" %>
    <%= f.text_field  :email, class: "input_text"   %>
  </div>

  <div class="field form_field_wrapper">
    <%= f.label :referencia,  "Referência:",class: "label" %>
    <%= f.text_field  :referencia, class: "input_text"   %>
  </div>
  
  <%= link_to_remove_association "Excluir", f, class: "remove_item_btn", title: "Excluir" %>

</div>