<%= form_with(model: fornecedor) do |form| %>
  <% if fornecedor.errors.any? %>
     <div>
      <ul class="error_list">
        <% fornecedor.errors.each do |error| %>
          <%# <li><%= error.full_message %></li>
          <%= render 'layouts/error', error:error %>
        <% end %>
      </ul>
    </div>
  <% end %>

<div class="form_wrapper">
  <div class="form_field_wrapper">
    <%= form.label :nome, "Nome:",style: "display: block", class: "label" %>
    <%= form.text_field :nome,  class: "input_text" %>
  </div>

  <div class="form_field_wrapper">
    <%= form.label :descricao, "Descrição:" ,style: "display: block", class: "label" %>
    <%= form.text_area :descricao %>
  </div>

  <div class="form_field_wrapper">
    <%= form.label :cidade, "Cidade:",style: "display: block", class: "label" %>
    <%= form.text_field :cidade , class: "input_text" %>
  </div>

  <div class="form_field_wrapper">
    <%= form.label :endereco, "Endereço:",style: "display: block", class: "label" %>
    <%= form.text_field :endereco , class: "input_text" %>
  </div>

  <div class="form_field_wrapper">
    <%= form.label :bairro, "Bairro:", style: "display: block", class: "label" %>
    <%= form.text_field :bairro , class: "input_text" %>
  </div>

  <div class="form_field_wrapper">
    <%= form.label :numero ,"Número:", style: "display: block", class: "label" %>
    <%= form.number_field :numero , class: "input_text" %>
  </div>

  <%# Email %>
  <div class="form_field_wrapper">
    <p class="label">Emails:</p>
    <%= form.fields_for :emails do |email_form| %>
    <%= render 'emails_fields', f: email_form %>
    <% end %>
  </div>

   <%# Telefones %>
  <div class="form_field_wrapper">
    <p class="label">Telefones:</p>
    <%= form.fields_for :telefones do |telefone_form| %>
    <%= render 'telefones_fields', f:telefone_form %>
    <% end %>
  </div>



  <div >
    <%= form.submit "Salvar Fornecedor" , class: "submit_btn" %>
  </div>
</div>
  
<% end %>
