
<p class="page_title">
    <%= fornecedor.nome %>
  </p>

<div class="card" id="<%= dom_id fornecedor %>">

  <p class="id_container">
    <strong class="label">ID:</strong>
    <%= fornecedor.id %>
  </p>

   <p class="field">
    <strong>Descrição:</strong>
    <%= fornecedor.descricao %>
   </p>

  <p class="field">
    <strong>Cidade:</strong>
    <%= fornecedor.cidade %>
   </p>

  <p class="field">
    <strong>Endereço:</strong>
    <%= fornecedor.endereco %>
   </p>

  <p class="field">
    <strong>Bairro:</strong>
    <%= fornecedor.bairro %>
   </p>

  <p class="field">
    <strong>Número:</strong>
    <%= fornecedor.numero %>
   </p> 

   <% if fornecedor.emails.any? %>
    <div class="field">
      
      <strong>Emails:</strong>
      <ul class="list">
        <% fornecedor.emails.each do |email| %>
          <li><%= email.email %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

   <% if fornecedor.telefones.any? %>
    <div class="field">
      
      <strong>Telefones:</strong>
      <ul class="list">
        <% fornecedor.telefones.each do |telefone| %>
          <li>(<%= telefone.ddd %>) <%= telefone.numero %> </li>
        <% end %>
      </ul>
    </div>
  <% end %>

</div>
