
<p class="page_title">
    <%= fornecedor.nome %>
  </p>

<div class="card" id="<%= dom_id fornecedor %>">

  <div class="id_container">
    <p class="label">ID:</p>
    <%= fornecedor.id %>
  </div>

   <div class="field">
    <p class="label">Descrição:</p>
    <%= fornecedor.descricao %>
   </div>

  <div class="field">
    <p class="label">Cidade:</p>
    <%= fornecedor.cidade %>
   </div>

  <div class="field">
    <p class="label">Endereço:</p>
    <%= fornecedor.endereco %>
   </div>

  <div class="field">
    <p class="label">Bairro:</p>
    <%= fornecedor.bairro %>
   </div>

  <div class="field">
    <p class="label">Número:</p>
    <%= fornecedor.numero %>
   </div> 

   <% if fornecedor.emails.any? %>
    <div class="field">
      
      <p class="label">Emails:</p>
      <ul class="list">
        <% fornecedor.emails.each do |email| %>
          <li>&#9993; <%= email.email %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

   <% if fornecedor.telefones.any? %>
    <div class="field">
      
      <p class="label">Telefones:</p>
      <ul class="list">
        <% fornecedor.telefones.each do |telefone| %>
          <li> &#9742 (<%= telefone.ddd %>) <%= telefone.numero %> </li>
        <% end %>
      </ul>
    </div>
  <% end %>

</div>
