
<%= form_with(model: pedido, local: true) do |form| %>
  <% if pedido.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(pedido.errors.count, "erro") %> impediram o pedido de ser salvo:</h2>

      <ul>
        <% pedido.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<div class="form_wrapper">


  <div class="form_field_wrapper">
    <%= form.label :notafiscal,"Nota Fiscal:", style: "display: block", class: "label" %>
    <%= form.text_field :notafiscal, class: "input_text"%>
  </div>

  <div class="form_field_wrapper">
    <%= form.label :valorfrete,"Valor do Frete:", style: "display: block", class: "label" %>
    <%= form.text_field :valorfrete, class: "input_text"%>
  </div>

  <div class="form_field_wrapper">
    <%= form.label :desconto,"Desconto:", style: "display: block", class: "label" %>
    <%= form.text_field :desconto, class: "input_text"%>
  </div>

  <div class="form_field_wrapper">
    <%= form.label :valortotal,"Valor Total:", style: "display: block", class: "label" %>
    <%= form.text_field :valortotal, class: "input_text"%>
  </div>

  <div class="form_field_wrapper">
    <%= form.label :datahora,"Data e Hora:",  style: "display: block", class: "label" %>
    <%= form.datetime_field :datahora, class: "input_text" %>
  </div>

   <div class="form_field_wrapper">
    <%= form.label :transportadora_id,"Transportadora:",  style: "display: block", class: "label" %>
    <%= form.collection_select(:transportadora_id, Transportadora.all, :id, :nome, {:include_blank => 'Selecione a transportadora'},{:class => 'input_text'}) %>
  </div>

  <h3 class="subtitle">Itens</h3>
  <%= form.fields_for :items do |item_form| %>
    <%= render 'item_fields', f: item_form %>
  <% end %>
  

  <div>
    <%= form.submit  "Salvar Pedido", class: "submit_btn" %>
  </div>
</div>
  
<% end %>
