
<div class="nested-fields">
  <div class="field">
    <%= f.label :produto_id, "Produto" %>
    <%= f.collection_select(:produto_id, Produto.all, :id, :nome) %>
  </div>
  <div class="field">
    <%= f.label :quantidade %>
    <%= f.number_field :quantidade %>
  </div>
   <div class="field">
    <%= f.label :valor %>
    <%= f.number_field :valor %>
  </div>
  <%= f.hidden_field :_destroy %>
  <%= link_to "Remove", '#', class: "remove_fields" %>
</div>