<div id="<%= dom_id pedido %>" class="card">
  
  <div class="id_container">
     <p class="label">ID:</p>
    <%= pedido.id %>
  </div>

  <div class="field">
    <p class="label">Notafiscal:</p>
    <%= pedido.notafiscal %>
  </div>

 

  <div class="field">
    <p class="label">Valortotal:</p>
    <%="R" + number_to_currency(pedido.valortotal) %>
  </div>

  <div class="datahora">
   
  <%= pedido.datahora.strftime('%d/%m/%y %R') %>
  </div>

  <div class="see_more_wrapper">

       <%= link_to "Ver Pedido >", pedido, class: "show_link", title: "Ver Pedido"  %>
    </div>

</div>
