
<h1 class="page_title">Pedido Nº <%= pedido.id%></h1>
<div id="<%= dom_id pedido %>" class="card">


  <div class="field">
    <p class="label">Notafiscal:</p>
    <%= pedido.notafiscal %>
  </div>

  <div class="field">
    <p class="label">Valorfrete:</p>
   <%= "R" + number_to_currency( pedido.valorfrete) %> 
   </div> 

   <div class="field">
    <p class="label">Desconto:</p>
   <%= "R" + number_to_currency(pedido.desconto)%>
  </div> 

  <div class="field">
    <p class="label">Valor Total:</p>
   <%="R" + number_to_currency(pedido.valortotal) %>
  </div>

  <div class="field">
    <p class="label">Transportadora:</p>
   <%=pedido.transportadora.nome%>
  </div>

   <% if pedido.items.any? %>
    <div class="field">
       <p class="label">Itens:</p>
      <ul class="list">
        <% pedido.items.each do |item| %>
          <li>
            <div class="pedido_item">
              <div>
                <p class="label">Produto:</p>
                <%= item.produto.nome %>
              </div>
             
              <div>
                <p class="label">Quantidade: </p>
                <%= item.quantidade %>
              </div>
            </div>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p class="datahora">
   
    <%= pedido.datahora.strftime('%d/%m/%y %R')%>
  </p>

  

 

</div>
