<div id="<%= dom_id pedido %>" class="card">
  
  <p class="id_container">
     <strong class="label">ID:</strong>
    <%= pedido.id %>
  </p>

  <p class="field">
    <strong class="label">Notafiscal:</strong>
    <%= pedido.notafiscal %>
  </p>

  <%# <p class="field">
    <strong class="label">Valorfrete:</strong>
    <%= pedido.valorfrete %> 
  <%# </p> %>

  <%# <p class="field">
    <strong class="label">Desconto:</strong>
    <%= pedido.desconto %>
  <%# </p> %>

  <p class="field">
    <strong class="label">Valortotal:</strong>
    <%="R" + number_to_currency(pedido.valortotal) %>
  </p>

  <p class="datahora">
   
  <%= pedido.datahora.strftime('%d/%m/%y %R') %>
  </p>

  <p class="see_more_wrapper">

       <%= link_to "Ver Pedido >", pedido, class: "show_link", title: "Ver Pedido"  %>
    </p>

</div>
