<div id="<%= dom_id pedido %>">
  <p>
    <strong>Datahora:</strong>
    <%= pedido.datahora %>
  </p>

  <p>
    <strong>Notafiscal:</strong>
    <%= pedido.notafiscal %>
  </p>

  <p>
    <strong>Valorfrete:</strong>
    <%= pedido.valorfrete %>
  </p>

  <p>
    <strong>Desconto:</strong>
    <%= pedido.desconto %>
  </p>

  <p>
    <strong>Valortotal:</strong>
    <%= pedido.valortotal %>
  </p>

</div>
