<%= form_with(model: transportadora) do |form| %>
  <% if transportadora.errors.any? %>
    <div>
      <ul class="error_list">
        <% transportadora.errors.each do |error| %>
          <%# <li><%= error.full_message %></li>
          <%= render 'layouts/error', error:error %>
        <% end %>
      </ul>
    </div>
  <% end %>

<div class="form_wrapper">
<div class="form_field_wrapper">
    <%= form.label :nome, style: "display: block", class: "label" %>
    <%= form.text_field :nome, class: "input_text" %>
  </div>

  <div>
    <%= form.submit "Salvar Transportadora", class:"submit_btn" %>
  </div>
</div>
  
<% end %>
