
<h1 class="page_title"><%= transportadora.nome %></h1>

<div class="card" id="<%= dom_id transportadora %>">


  <div class="id_container">
    <p class="label">ID:</p>
    <%= transportadora.id %>
  </div>

  <div class="field amount_field">
    <p class="label">Quantidade de pedidos: </p>
    <%= transportadora.pedidos.count %>
  </div>

    <div class="options_container">   
      <%= link_to "Editar Transportadora", edit_transportadora_path(transportadora) , class: "option_link" %>
      <%= button_to "Excluir Transportadora", transportadora, method: :delete, class: "delete_btn" %>
    </div>

</div>