<%= form_with(model: produto) do |form| %>
  <% if produto.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(produto.errors.count, "erro") %> impediram esse produto de ser salvo:</h2>

      <ul>
        <% produto.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


  <div class="form_wrapper">
<div class="form_field_wrapper">
    <%= form.label :nome, "Nome:", style: "display: block", class: "label" %>
    <%= form.text_field :nome, class: "input_text" %>
  </div>

  <div class="form_field_wrapper">
    <%= form.label :descricao, "Descrição:" ,style: "display: block", class: "label" %>

    <%= form.text_area :descricao %>
  </div>

  <div class="form_field_wrapper">
    <%= form.label :fornecedor_id, "Fornecedor:" ,style: "display: block", class: "label" %>

    <%= form.collection_select(:fornecedor_id, Fornecedor.all, :id, :nome, {:include_blank => 'Selecione o fornecedor'},{:class => 'input_text'}) %>
  </div>

  <div>
    <%= form.submit "Salvar Produto", class: "submit_btn" %>
  </div>
  </div>

  
<% end %>
