<div  id="<%= dom_id produto %>">

 <p class="page_title">
    <%# <strong class="label">Nome:</strong> %>
    <%= produto.nome %>
  </p>

<div class="card">
<div class="id_container">
    <p class="label">ID:</p>
    <%= produto.id %>
  </div>

  <div class="field">
    <p class="label">Descrição:</p>
    <div class="description">
         <%= produto.descricao %>
    </div>
   </div>

    <div class="field">
    <p class="label">Fornecedor:</p>
         <%= produto.fornecedor.nome %>
   </div>
</div>
   


</div>
