<%= stylesheet_link_tag "header.css" %>


<header class="header">
    <div class="header_wrapper">

        <a title="Gerenciar Pedidos" href="/">
        <h1 class="header_title">Gerenciar Pedidos</h1>
        </a>

        <div class="overlay"></div>


        <button title="abrir menu" class="hamburger">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </button>
      

        <div class="nav_links_container">
            <button class="nav_close_btn" title="fechar">&times;</button>
            <%= link_to "Fornecedores", fornecedors_path, class:"nav_link", title:"Fornecedores" %> 
            <%= link_to "Transportadoras", transportadoras_path, class:"nav_link", title:"Transportadoras" %> 
            <%= link_to "Produtos", produtos_path, class:"nav_link", title:"Produtos" %> 
            <%= link_to "Pedidos", pedidos_path, class:"nav_link", title:"Pedidos" %> 
        </div>
        

    </div>


</header>