<%= stylesheet_link_tag "header.css" %>


<header class="header">
    <div class="header_wrapper">

        <h1 class="header_title">Gerenciar Pedidos</h1>

        <div class="nav_links_container">
            <%= link_to "Fornecedores", fornecedors_path, class:"nav_link", title:"Fornecedores" %> 
            <%= link_to "Transportadoras", transportadoras_path, class:"nav_link", title:"Transportadoras" %> 
            <%= link_to "Produtos", produtos_path, class:"nav_link", title:"Produtos" %> 
            <%= link_to "Pedidos", pedidos_path, class:"nav_link", title:"Pedidos" %> 
        </div>
        

    </div>
</header>